* {
	margin: 0;
	padding: 0;
}

.Main {
	width: 230px;
	margin-left: 5px; 
	margin-right: 5px; 
	top: 5px;
	bottom: 5px;
}

a {
    text-decoration: none;  
    color: #003366;
    font-weight: bold;
    font-size: 14pt; 
}

a:hover {
    text-decoration: underline;
}
.MTitle {
	position: relative ; 
	text-align: center; 
	padding-top: 3px; 
	padding-bottom: 5px; 
	margin-bottom: 3px; 
	margin-top: 3px; 
	top: 3px;
	bottom: 5px;
	font-style:  bold;
	font-size: 10pt; 
	font-weight: 600;	
	font-family:verdana,Arial,Helvetica,sans-serif;
	background-color: #003366;
	color: #FFFFFF;	
}

.MZoom {
	position: relative ; 
	text-align: left; 
	padding-top: 2px; 
	padding-bottom: 2px; 
	margin-top: 5px; 
	margin-bottom: 0px; 
         margin-left: -5;
	top: 5px;
         height: 5px;  
	bottom: 5px;
	font-style:  bold;
	font-size: 10pt; 
	font-weight: 600;	
	font-family: Times;
	background-color: #FFFDC9;
	color: #000000;	
         border: 1 solid;
}

.MPacco {
	margin-top: -1px; 
	position: relative ; 
	text-align: left; 
	padding-top: 5px; 
	padding-bottom: 2px; 
	margin-bottom: 5px; 
	padding-left: 5px; 
	top: -1px;
	font-style:  bold;
	font-size: 14pt; 
	font-weight: 900;	
	font-family: Times;

         border-left: 1 solid;
         border-right: 1 solid;
         border-bottom: 1 solid;
}
.MLogo{
	position: absolute ; 
	top: 10px;
         height: 20px;  
         left: 180px;
}

.Barcode {
	width: 220px;
	font-size: 14pt; 
	font-family:verdana,Arial,Helvetica,sans-serif;
	text-align: left;
}

.UBI{
	position: absolute ; 
	font-size:12pt; 
	font-family:verdana,Arial,Helvetica,sans-serif;
	font-style:  bold;
	text-align: left;
	color: #000000;		
	width: 100px;
         left: 150px;
	font-weight: 900;	
}

.MCellB{
	font-size:14pt; 
	font-family:verdana,Arial,Helvetica,sans-serif;
	text-align: left;
	font-style: bold;
	font-weight:600;	
	color: #000000;		
 	margin-bottom: 2px; 
	width: 150px;
}

.MCellN{

	font-size:12pt; 
	font-family:verdana,Arial,Helvetica,sans-serif;
	text-align: right;
	color: #000000;	
	width: 280px;	
}

.MRow{
	padding-top: 5px; 
	padding-bottom: 7px; 
	margin-top: 3px; 
	margin-bottom: 7px; 
	width: 220px;
}

.MCount{
	font-weight: 900;	
	font-size:14pt; 
	padding-top: 5px; 
	padding-bottom: 7px; 
	margin-top: 3px; 

        border: 0;
}


.TCount{
         top: 15px;
	font-weight: 900;	
	font-size:14pt; 
	padding-top: 5px; 
	width: 40px;
         border: 0;
}
.MSep{
	width: 30px;
	margin-left: 10px; 
}
.MLink {
	margin-top: 5px; 
       
}