.DetailTable{
}
.DetailHeader{
}
.Detail{
	font: 8pt verdana;
    color: #000000;
    background-color: #FFFFFF;
}
.ERROR{
	font: 8pt verdana;
	color: #FFFFFF;
	background-color: #990000;
}
.DetailHeaderData{
    font: 8pt verdana;
    color: #000000;
    background-image: url('/Lighthammer/Images/bluebackground.jpg');
	background-repeat: repeat-x;
}
.DetailData{
    font: 8pt verdana;
    color: #000000;
}
.DetailHyperLink{
    font: 8pt verdana;
    color: #000099;
}
.SCROLLAREA{
    border: 1px solid;
    background-color: #FFFFFF; 
    overflow: auto; 
    overflow-x: scroll; 
    overflow-y: scroll; 
    text-align: left;
}
.buttonText{
    font: 8pt verdana;
    color: #000000;
}
.Header{
    font: bold 9pt verdana;
    color: #000000;
}
.Footer{
    font: italic 8pt verdana;
    color: #000000;
}
A:active{
    font: 8pt verdana;
    color: #000099;
}
A:visited{
    font: 8pt verdana;
    color: #000099;
}
A{
    font: 8pt verdana;
    color: #000099;
}
BODY{
    font: 8pt verdana;
}
H1{
    font: normal 18pt verdana;
}
H2{
    font: bold 12pt verdana;
}
H3{
    font: bold italic 8pt verdana;
}
TH{
    font: 8pt verdana;
}
TD{
    font: 8pt verdana;
}
P{
    font: 8pt verdana;
}
I{
    font: 8pt verdana;
}
SELECT{
    font: 8pt verdana;
}
INPUT{
    font: 8pt verdana;
}
.PageSmHeader{
    font: 14pt verdana;
	background-color: #003366;
	color: #FFFFFF;
}
.tdSubHeader{
    font: bold 11pt verdana;
    background-color: #999999;
}
.tdSubSmHeader{
    font: 8pt verdana;
    background-color: #CCCCCC;
}
.tdAppletHeader{
    font: bold 8pt verdana;
	text-align: center;
    color: #000000;
    background-color: #CCCCCC;
	padding: 2px 0px 2px 0px;
}
.SAPTable{
    border: 1px solid #000000;
}

/* set the formatting of the main table  */
	.tblMain{
		border: 1px solid #000000;
	}

/* set the formatting of the header and title   */	
.tdHeader{
	font-size:10pt;
	font-family:verdana,Arial,Helvetica,sans-serif;
	font-weight:900;
	font-style:italic;
	text-align: center;
	background-image: url('../Images/PageHeaderBackground.gif');
	background-repeat:repeat-x;	
	color: #000000;		
	padding: 4px 0px 4px 0px;
	border: 1px solid;
	border-color:rgb(106,106,106);
}
/* set the formatting of the sub headers and title   */	
.tdHeader2{
	text-align: center;
	background-color:rgb(186,210,232);
	background-color: #ABB5C2;
	color: #000000;
	font: bold 11px verdana;
	padding: 3px 0px 3px 0px;
	border: 1px solid;
	border-color:rgb(106,106,106);
}
/* set the formatting of the rollover buttons   */	
a.boldbuttons, a.boldbuttonsDis{
	background-color:rgb(249,238,181);
	float: left;
	FONT-FAMILY: tahoma;
	FONT-SIZE: 8pt;
	COLOR: black;
	line-height: 12px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 30px) */
	display: block;
	padding-left: 8px; /* Width of left menu image */
	text-decoration: none;
	CURSOR: pointer;
	BORDER: 1px solid black;
}

/*button rollover text color*/
a:link.boldbuttons, a:visited.boldbuttons, a:hover.boldbuttons, a:active.boldbuttons{
	color: black; 
}

/* set the formatting of the rollover buttons   */	
a.boldbuttons span, a.boldbuttonsDis span{
	display: block;
	padding: 2px 10px 2px 2px; /*Set 10px to be equal or greater than'padding-left' value above*/
}

/* set the formatting of the rollover buttons   */	
a:hover.boldbuttons{     
	background-color:rgb(248,189,71);
}

/* set the formatting of the rollover buttons   */	
.buttonwrapper{ 
	overflow: hidden; 
	width: 100%;
}

/* set the formatting of middle part of the table (body) where most display and user interactions will occur  */	
	.tdBody{
		background-color:rgb(235,239,242);
	}
/* set the formatting of the footer where button will reside to supplement functionality   */	
	.tdFooter{
		
		background-color: #A6B0B3;
	}
/* formatting for individual text cells corresponding to selection boxes, drop downs, etc  */		
	.txtCell{
		text-align: right;
		font: 10px verdana;
		color: #003366;
	}
/* formatting for individual cells where the selection boxes, drop downs, etc are located  */		
	.tdCellItem{
		font: 10px verdana;
		padding-left: 4px;
		color: #003366;
	}

/* formatting for individual text boxes where user types  */		
	.txtField{
		border:1px solid rgb(131,131,143);
	font-family:Arial,Helvetica,sans-serif;
	font-size:8pt;
	font-weight:500;
	color: #003366;
	background-color: #ffffff;
	
	type:text;
	}
/* formatting for individual text boxes that are disabled  */	
	.txtFieldDis{
	background-color:rgb(235,239,242);
	font: 10px verdana;
	padding-left: 4px;
	color: #003366;
	border: 0px;
}
/* formatting for individual selection boxes where user selects drop down items  */
	.selField{
		border: 1px solid #FF9900;
		background-color: #ffffff;
		color: #003366;
		font: 10px verdana;
	}
/* formatting for individual text area where user types  */
	.txtArea{
		border: 1px solid #CC6600;
		background-color: #ffffff;
		color: #003366;
		width: 200px;
		height: 40px;
		font: 10px verdana;
	}
/* formatting for buttons  */		
	.buttons{
		font-family:verdana,Arial,Helvetica,sans-serif;
		font-size:8pt;
		font-weight:500;		
		text-align:center;
		text-decoration:none;
		color:rgb(0,0,0);
		border:1px solid black;
		background-color:rgb(249,238,181);
		}
/*formatting for iframe pages */
	.iframeBody{
		margin-top:0; 
		margin-left:0;
	}	


/*------------------------------------------*/