.FTColEdit {
	/* */
}

.FTColVis {
	/*	background-color: rgba(227, 239, 227, 0.4) !important; */
}

.FTColKey {
	/*	background-color: rgba(227, 239, 227, 0.4) !important; */
}

.FTCellVis {
	background-color: rgba(227, 239, 227, 0.2) !important;
}

.FTCellKey {
	background-color: rgba(212, 240, 247, 0.6) !important;
}

.sapUiTableTd {
	border-right: 1px solid #cccccc;
}

.sapMRbG .sapMRbB {
	top: -5px !important;
}
