.sapUiUx3DSSVItem:hover {
	background-color: #F4BF75 !important;
	border-radius: 5px;
}
.sapUiUx3DSSVSelected {
	background-color: #00B8FF !important;
	border-radius: 5px;
}

.CustomItemLayout {
	padding: 10px;
	margin: 3px;
	border-radius: 6px;
}
.CustomItemLayoutTitle {
	display: inline;
	position: relative;
}
.CustomItemLayout.CustomItemLayoutSmall .CustomItemLayoutTitle > div {
	left: 40px;
	position: absolute;
	top: 8px;
}
.CustomItemLayout.CustomItemLayoutSmall .CustomItemLayoutTitle > img {
	/*left: 375px;*/
	position: relative;
	width: 31px;
	float: right;
}
.CustomItemLayoutInner {
	border: 1px solid #dddddd;
	padding: 5px;
	position: relative;
	border-radius: 8px;
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}
.CustomItemLayout.CustomItemLayoutSmall .CustomItemLayoutTitle {
	/*border-bottom: 1px solid #dddddd;*/
	display: block;
	height: 30px;
	margin-bottom: 3px;
	padding-bottom: 3px;
}

.CustomItemLayout.CustomItemLayoutSmall .CustomItemLayoutCntnt {
	width: 100%;
}
.CustomItemLayoutCntnt {
	display: inline-block;
	position: relative;
}
.CustomItemLayout.CustomItemLayoutLarge > .CustomItemLayoutInner {
	height: 120px;
}
.CustomItemLayoutInner {
	border: 1px solid #dddddd;
	padding: 5px;
	position: relative;
}
.CustomItemLayout.CustomItemLayoutLarge .CustomItemLayoutTitle {
	margin-top: 4px;
	width: 250px;
}
.CustomItemLayoutTitle {
	position: relative;
}
.CustomItemLayout.CustomItemLayoutLarge .CustomItemLayoutCntnt {
	left: 255px;
	position: absolute;
	right: 3px;
	top: 0;
}
.CustomItemLayoutCntnt {
	display: inline-block;
	position: relative;
}
.CustomItemLayout.CustomItemLayoutLarge .CustomItemLayoutTitle > div {
	left: 120px;
	position: absolute;
	top: 30px;
}
.CustomItemLayout.CustomItemLayoutLarge .CustomItemLayoutTitle > img {
	width: 36px;
}
.Panel_A {
	background-color: green !important;
}
.Panel_S {
	background-color: yellow !important;
}
.Panel_M {
	background-color: #F76F35 !important;
}
.Panel_G {
	background-color: #D1D1D2 !important;
}

.Panel_E {
	background-color: #B851D2 !important;
}
.Panel_R {
	background-color: #ED3A39 !important;
}
.Panel_D {
	background-color: #7D6768 !important;
}

.sapUiGrid td {
	vertical-align: middle !important;
}

.sapUiProgIndBorder {
	background-color: darkgray;
	border-radius: 5px;
}

.sapUiProgIndBorder {
	height: 20px !important;
}
.sapUiProgIndBar, .sapUiProgIndBarNeg, .sapUiProgIndBarPos, .sapUiProgIndBarCrit {
	height: 18px !important;
}


.sapUiProgIndFont {
	font-size: 13px !important;
}

.sapUiProgIndBarNeg {
		background-color: #ff0000 !important;
}

.sapUiTvWarn {
	color: #f4c430 !important;
}
