.sapMALIText ,
.sapMTitle ,
.sapMInputBaseInner ,
.sapMBtnContent ,
.sapMLabel ,
.sapMText
 {
	font-size: 115% !important;
}

.sapUiFormEdit .sapMText {
	padding-top: 1.1rem !important;
}

/* Text SAPUI5 standard */

.standardText {
	font-size: 100% !important;
}

/* Text SAPUI5 grande */

.bigText {
	font-size: 250% !important;
}

/* Text SAPUI5 rosso */

.redText {
	color: #FF0000 !important;
}

/* Label SAPUI5 standard */

.standardLabel {
	font-size: 100% !important;
}

/* Label piccolo */

.smallLabel {
	font-size: 90% !important;
}

/* Allineamento verticale label per campo di input */

.inputLabel {
	padding-top: 0.6rem !important;
}

/* Bottoni tastierino numerico */

.keyboardBtn {
	height: 82px !important;
}

.keyboardBtn .sapMBtnInner {
	height: 75px !important;
	width: 75px !important;
	margin-top: 3px !important;
	font-weight: bold;
	font-size: 1.8rem;
	color: DimGrey !important;
}

.keyboardBtn .sapMBtnContent {
	height:inherit;
	text-align: block;
	display: block;
	vertical-align: middle;
	margin: auto;
	padding-top: 17px;
}

/* Label rosso */

.yellowLabel {
	text-shadow: 0 2px 0 #C08800 !important;
}

/* Label verde */

.greenLabel {
	text-shadow: 0 2px 0 #008000 !important;
}

/* Dimensione caratteri media */

.mediumLabelSize {
	font-size: 1.7rem !important;
}

/* Elimina padding per sap.m.Dialog */

.noPaddingDialog .sapUiPopupWithPadding .sapMDialogScrollCont{
	padding: 0rem !important;
}

/* Elimina padding per dialog */

.noPaddingDialog .sapMDialogScrollCont{
	padding: 0rem !important;
}

/* Altezza contenuto dialog al 100% */

.fullHeightScrollCont .sapMDialogScrollCont{
	height: 100%;
}

/* Elimina padding per tableSelectDialog */

.noPaddingITB .sapMITBContent{
	padding: 0rem !important;
}

/* Bottone grigio */

.greyButton .sapMBtnInner {
	background-color: #B1B1B1 !important;
	border-color: #B1B1B1 !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(top, #B1B1B1 0, #B1B1B1 100%) !important;
}

.greyButton > .sapMBtnActive {
    background-color: #7B7B7B !important;
    border-color: #7B7B7B !important;
    background: -webkit-linear-gradient(top, #7B7B7B 0, #7B7B7B 100%) !important;
}

.greyButton .sapMBtnIcon {
	color: #FFFFFF !important;
}

/* Bottone verde */

.greenButton .sapMBtnInner {
	background-color: #008000 !important;
	border-color: #BFBFBF !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(top, #008000 0, #008000 100%) !important;
}

.greenButton > .sapMBtnActive {
    background-color: #003e00 !important;
    border-color: #003e00 !important;
    background: -webkit-linear-gradient(top, #003e00 0, #003e00 100%) !important;
}

.greenButton .sapMBtnIcon {
	color: #FFFFFF !important;
}

/* Bottone giallo */

.yellowButton .sapMBtnInner {
	background-color: #F0AB00 !important;
	border-color: #BFBFBF !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(top, #F0AB00 0, #F0AB00 100%) !important;
}

.yellowButton > .sapMBtnActive {
    background-color: #c08800 !important;
    border-color: #C08800 !important;
    background: -webkit-linear-gradient(top, #C08800 0, #C08800 100%) !important;
}

.yellowButton .sapMBtnIcon {
	color: #FFFFFF !important;
}

/* Bottone blu */

.blueButton .sapMBtnInner {
	background-color: #19859B !important;
	border-color: #BFBFBF !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(top, #19859B 0, #19859B 100%) !important;
}

.blueButton > .sapMBtnActive {
    background-color: #0C424D !important;
    border-color: #0C424D !important;
    background: -webkit-linear-gradient(top, #0C424D 0, #0C424D 100%) !important;
}

.blueButton .sapMBtnIcon {
	color: #FFFFFF !important;
}

/* Bottone arancione */

.orangeButton .sapMBtnInner {
	background-color: #FF4500 !important;
	border-color: #FF4500 !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(top, #FF4500 0, #FF4500 100%) !important;
}

.orangeButton > .sapMBtnActive {
    background-color: #CC3700 !important;
    border-color: #CC3700 !important;
    background: -webkit-linear-gradient(top, #CC3700 0, #CC3700 100%) !important;
}

.orangeButton .sapMBtnIcon {
	color: #FFFFFF !important;
}

/* Bottone rosso */

.redButton .sapMBtnInner {
	background-color: #BB0000 !important;
	border-color: #BFBFBF !important;
	color: #FFFFFF !important;
	background: -webkit-linear-gradient(top, #BB0000 0, #BB0000 100%) !important;
}

.redButton > .sapMBtnActive {
    background-color: #700000 !important;
    border-color: #700000 !important;
    background: -webkit-linear-gradient(top, #700000 0, #700000 100%) !important;
}

.redButton .sapMBtnIcon {
	color: #FFFFFF !important;
}

/* Bottone senza bordi */

.noBorderButton > .sapMBtnInner {
    border-color: transparent !important;
}
.noBorderButton > .sapMBtnActive {
    border-color: transparent !important;
}

/* Bottone di grandi dimensioni */

.bigButton .sapMBtnInner {
	height: 3.5em !important;
	min-width: 6em !important;
	/*width: 6em !important;*/
	font-size: 2rem;
	display: inline-block
	/*margin-left: 20px !important;*/
	margin-top: 20px !important;
	padding-left: 50px !important;
}

.bigButton .sapMBtnIcon {
	font-size: 2rem;
	line-height: 3.5em !important;
	text-align: center;
	display:table-cell;
	vertical-align:middle;
	padding-left: 10px !important;
}

.bigButton .sapMBtnContent {
	height:inherit;
	text-align: center;
	display:table-cell;
	vertical-align:middle;
}

/* Padding SimpleForm*/

.nearColsSimpleForm .sapUiFormResGrid>div {
	padding-right: 6rem;
	paddinf-left: 3rem;
}

.noPaddingBottomSimpleForm .sapUiFormResGrid>div {
	padding-bottom: 0rem;
}

.noPaddingTopSimpleForm .sapUiFormResGrid>div {
	padding-top: 0rem;
}

/* SimpleForm editabile con righe ravvicinate*/

.nearRowsEditForm .sapUiFormEdit .sapMText {
	min-height: 0rem;
	padding-bottom: 0rem;
}

/* SimpleForm di visualizzazione con righe più distanti*/

.farRowsViewForm .sapUiForm .sapMText {
	padding-bottom: 0.7rem;
}

/* Testo nelle celle della tabella più piccole */

.mediumSizeTblCell .sapMListTblCell {
	font-size: 0.75rem;
}

/* sap.m.Dialog di warning */

.warningDialog .sapMTitle {
	color: #F0AB00 !important;
}

.warningDialog .sapUiIcon {
	color: #F0AB00 !important;
}

.warningDialog .sapMBarPH {
	box-shadow: inset 0 -0.0625rem #F0AB00 !important;
}

/* sap.m.Select con testo come Label*/

.customSelect {
	border: 0px !important;
	background: transparent !important;
}

.customSelect  .sapMSltLabel {
	font-size: 130% !important;
	color: #666666 !important;
}

.customSelect .sapMSltArrow {
	border: 1px solid #bfbfbf !important;
	height: 96% !important;
}

.redTableRow {
	background: rgba(255, 0, 0, 0.60) !important;
}

.greenTableRow {
	background: rgba(0, 255, 0, 0.20) !important;
}

.sapUiRespGrid.sapUiRespGridVSpace1 > div {
    margin-bottom: 0.5rem !important;
}
#boxDeclIconStdQty6  {
    margin-left: 5.5rem  !important;
}