html {
	margin: 5px;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	font: 10pt verdana;
}

body {
	width: 95%;
	margin: auto auto;
	padding: 1px;
}

#splash-screen {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: #e7e7e7 !important;
	background-size: 100% !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
#appHeader-logoText {
	font-size: 28px;
}

#splash-screen > * {
	/* center child divs  */
	position: fixed;
	top: 50%;
	left: 50%;
	/* x-border-box */
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	/* x-unselectable */
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	cursor: default;
}
.splash-screen-circle-outer {
	z-index: 20000;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin-top: -50px;
	margin-left: -50px;
	border: 5px solid rgba(87, 113, 145, 0.9);
	opacity: .9;
	border-right: 5px solid rgba(0, 0, 0, 0);
	border-left: 5px solid rgba(0, 0, 0, 0);
	box-shadow: 0 0 35px #577191;
	-moz-animation: spinPulse 1s infinite ease-in-out;
	-webkit-animation: spinPulse 1s infinite linear;
}
.splash-screen-circle-inner {
	z-index: 20001;
	width: 80px;
	height: 80px;
	border-radius: 80px;
	margin-top: -40px;
	margin-left: -40px;
	background-color: rgba(0, 0, 0, 0);
	border: 5px solid rgba(87, 113, 145, 0.9);
	opacity: .9;
	border-left: 5px solid rgba(0, 0, 0, 0);
	border-right: 5px solid rgba(0, 0, 0, 0);
	box-shadow: 0 0 15px #577191;
	-moz-animation: spinoffPulse 1s infinite linear;
	-webkit-animation: spinoffPulse 1s infinite linear;
}
.splash-screen-text {
	z-index: 20002;
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	text-align: center;
	text-shadow: 1px 1px #cccccc;
	vertical-align: middle;
	color: #002951;
}
@-moz-keyframes spinPulse {
	0% {
		-moz-transform: rotate(160deg);
		opacity: 0;
		box-shadow: 0 0 1px #577191;
	}
	50% {
		-moz-transform: rotate(145deg);
		opacity: 1;
	}
	100% {
		-moz-transform: rotate(-320deg);
		opacity: 0;
	}
}
@-moz-keyframes spinoffPulse {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes spinPulse {
	0% {
		-webkit-transform: rotate(160deg);
		opacity: 0;
		box-shadow: 0 0 1px #577191;
	}
	50% {
		-webkit-transform: rotate(145deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-320deg);
		opacity: 0;
	}
}
@-webkit-keyframes spinoffPulse {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}


.tableZebra tr:nth-child(even) {
	background-color: white;
}

.tableZebra tr:nth-child(even):hover {
	background-color: #D2F4F7;
}

.tableZebra tr:nth-child(odd) {
	background-color:#ECF7FB;
}

.tableZebra tr:nth-child(odd):hover {
	background-color:#CFF5FF;
}

.sapUiTableCtrl tr.tableRowTotal-0 {
	background-color:#FBFC00 !important;
	font-weight: bold;
}

.sapUiTableCtrl tr.tableRowTotal-0:hover {
	background-color:#FFD300 !important;
	font-weight: bold;
	border: 1px solid orange;
}

.sapUiTableCtrl tr.tableRowTotal-1 {
	background-color:#FCFFA0 !important;
	font-weight: bold;
}

.sapUiTableCtrl tr.tableRowTotal-1:hover {
	background-color:#FFD300 !important;
	font-weight: bold;
	border: 1px solid orange;
}

.sapUiTableCtrl tr.tableRowTotal-2 {
	background-color:#FFFFD3 !important;
	font-weight: bold;
}

.sapUiTableCtrl tr.tableRowTotal-2:hover {
	background-color:#FFD300 !important;
	font-weight: bold;
	border: 1px solid orange;
}

.sapUiTableCtrl tr.tableRowTotal-3 {
	background-color:#FFFFE0 !important;
	font-weight: bold;
}

.sapUiTableCtrl tr.tableRowTotal-3:hover {
	background-color:#FFF300 !important;
	font-weight: bold;
	border: 1px solid orange;
}

.sapUiAppHdr .sapUiImg {
    margin-right: 30px !important;
}