.CustomItemLayoutInner {
	background: rgba(255, 255, 255, 0) none repeat scroll 0 0 !important;
}
.OEE_G {
	background-color: #0F703F !important;
}
.OEE_C {
	background-color: rgba(255,204,0,1) !important;
}
.OEE_E {
	background-color: rgba(228,30,53,1) !important;
}
.OEE_W {
	background-color: rgba(166,166,166,1) !important;
}

.sapUiRespGrid.sapUiRespGridHSpace1 {
	padding: 0 0 !important;
}
.sapUiRespGrid.sapUiRespGridVSpace1 > div {
	margin-bottom: 0rem !important;
}
.MicroChart {
	margin-left: 25% !important;
	width: 100px;
	margin-top: -25px;
}
.BorderLine {
	border-bottom: 2px solid black;
	padding-bottom: 5px;
}
.CustomItemLayoutInner .sapMLabel {
	color: #fff !important;
}

.bluePanel .sapMPanelBGTranslucent {
	background-color: rgba(54,54,146,1) !important;
}

.smallPanelPadding .sapMPanelContent {
	padding: 0.5rem !important;
	height: 100% !important;
}

.smallText {
	font-size: 0.75rem !important;
}

.whiteText {
	color: #fff !important;
}

.yellowText {
	color: rgba(225,123,36,1) !important;
}

.redText {
	color: rgba(211,32,48,1) !important;
}

.greenText {
	color: rgba(97,166,86,1) !important;
}

.boldText {
	font-weight: bold;
}

.CustomItemLayoutInner {
	border-radius: 2px !important;
}

.CustomItemLayout {
	border-radius: 3px !important;
	margin: 3px !important;
	padding: 2px !important;
}

.noPaddingDialog .sapMDialogScrollCont{
	padding: 0rem !important;
}

.noPaddingDialog .sapMDialogScrollCont{
	height: 100% !important;
}

.noPaddingPanel > .sapMPanelContent{
	padding: 0rem !important;
}



.trendTable .sapMListTblCell {
	padding: .125rem .5rem !important;
}

.dbTileSize{
	height: 20.8rem !important;
	width: 14rem  !important;
}

.dbTileSizeTV{
	height: 19rem !important;
	width: 14rem  !important;
}

.CustomTileBorder{
	border: 0px solid white;
	padding: 5px;
	width: 14.5em !important;
}

.BorderLineTop {
	border-Top: 2px solid black;
	padding-Top: 2px;
}
.CustomTileBorder .sapMLabel {
	color: #000 !important;
}
.iconAlign {
	margin-bottom: 0.5rem;
}

.sapMCustomTile {

}

.sapMFlexItem  {
	/*margin-left: auto;*/
	/*margin-right: auto;*/
}

.sapMCustomTileContent {
	border: 1px groove #f2eaea;
	background-color: #fcfcfc;
}

.RadialChartStyle{
	margin-left: 1.3rem;
	margin-right: auto;
}
.RadialChartCtrl{
	overflow: visible !important;
}
